github "BLC-HTWChur/JWTswift" "master"
github "raulriera/TextFieldEffects" "swift-4.2"
github "Instagram/IGListKit" "master"
github "ninjaprox/NVActivityIndicatorView" "carthage"
github "Boris-Em/BEMCheckBox"